.item {
    .thumbnail {
        margin: 1em 0;
        max-width: 95%;
    }

    .wrapperImg {
        height: 75%;
        max-width: 90%;
        font-size: 0.75em;
    }

    .avarta {
        width: 1em;
        height: 1em;
        margin: 0 0.5em;
        font-size: 1em;
    }

    .username {
        font-size: 0.85em;
    }
}