.close {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
}

// Overide the class of ReactModal lib
.ReactModal__Content.ReactModal__Content--after-open {
    margin: auto;
    height: 35%;
    width: 100%;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    @media only screen and (min-width: 768px) {
        width: 50%;
        height: 25%;
    }
    @media only screen and (min-width: 992px) {
        width: 50%;
        height: 50%;
    }
}

.media {
    width: 90%;
    margin: auto;
}